:root {
  --font-family: "Roboto", "Raleway", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  color: #212121;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}

.page-header {
  flex-direction: row;
}

.logo-top {
  display: flex;
  flex-direction: row;

  margin-left: 215px;

  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: inherit;
}

.logo-top > span {
  color: #2196f3;
}

.logo-top > span :focus {
  color: #212121;
}

.site-nav {
  padding: 32px 0;
}

.site-nav-link {
  position: relative;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: inherit;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav-list {
  display: flex;
  justify-content: center;
}

.site-nav-list:first-child {
  margin-left: 85px;
}

.site-nav-link {
  padding-top: 32px;
  padding-bottom: 32px;
}

.nav-link {
  color: #2196f3;
}

.nav-link::after {
  content: "";

  position: absolute;
  left: 0;
  bottom: 0;

  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

.site-nav-link:hover::after,
.site-nav-link:focus::after {
  content: "";

  position: absolute;
  left: 0;
  bottom: 0;

  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav-link:hover,
.site-nav-link:focus {
  color: #2196f3;
}

.site-nav-item:not(:last-child) {
  margin-right: 50px;
}

.auth-nav a {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
  fill: #757575;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav a:hover,
.auth-nav a:focus {
  color: #2196f3;

  fill: #2196f3;
}

.auth-nav {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.auth-nav-icon {
  margin-right: 10px;
}

.auth-nav li + li {
  margin-left: 30px;
}

/* 

Тело сайта

*/

.background-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 600px;

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(../images/Header-img.jpg);
}

h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

h2 {
  margin-top: 94px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

h3 {
  margin-top: 30px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}

h4 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}

.order-button {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;

  margin-top: 30px;
  border: none;
  outline: none;

  background-color: #2196f3;
  color: #ffffff;
}

.order-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;

  border-radius: 4px;
}
.order-button:focus {
  border: none;
  outline: none;

}

/* Features */

.features-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 70px;
  height: 70px;
  fill: currentColor;
}

.features {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;

  color: #757575;
}

.features-list {
  display: flex;
  justify-content: center;
}

.features-item + .features-item {
  margin-left: 30px;
}

.features-image {
  width: 270px;
  height: 120px;
  margin-top: 95px;

  background: #f5f4fa;
  border-radius: 4px;
}

.features-list svg {
  margin-left: 102px;
  margin-right: 102px;
  padding-top: 25px;
}

.features-list p {
  width: 270px;
  margin-top: 10px;
}

/* Чем мы занимаемся */

.our-work-list {
  position: relative;
  display: flex;
  justify-content: center;
}

.our-work-item {
  display: flex;
  align-items: flex-end;

  margin-top: 50px;
}

.our-work-item + .our-work-item {
  margin-left: 30px;
}

.work li {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.our-work-text {
  position: absolute;
  width: 370px;
  height: 40px;
  padding-top: 30px;

  background: rgba(47, 48, 58, 0.8);
}

/* Наша команда */

.team {
  width: 100%;

  margin-top: 94px;
  background: #f5f4fa;
}

.team-container {
  display: flex;
  flex-direction: row;
  justify-content: center;

  padding: 0;
}

.team-card {
  margin-top: 50px;
  margin-bottom: 94px;
  background-color: #fff;
}

.team-card + .team-card {
  margin-left: 30px;
}

.full-name {
  margin-top: 30px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  text-align: center;
  letter-spacing: 0.03em;
}

.profession {
  margin-top: 10px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;

  text-align: center;
  letter-spacing: 0.03em;

  color: #757575;
}

.social-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

  margin-top: 16px;
  padding-bottom: 24px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;

  fill: #afb1b8;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: #2196f3;
  fill: #fff;
}

.social-icon {
  width: 20px;
  height: 20px;
}

/* Постоянные клиенты */

.clients {
  margin-bottom: 94px;
}

.clients-list {
  display: flex;
  flex-direction: row;
  justify-content: center;

  margin-top: 50px;
}

.clients li + li {
  margin-left: 30px;
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clients-icon {
  width: 100px;
  height: 45px;
}

.clients-link {
  width: 170px;
  height: 90px;

  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;

  fill: #afb1b8;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
  border: 1px solid #2196f3;
  cursor: pointer;
  fill: #2196f3;
}

/* Портфолио > фильтры */

.projects {
  margin-bottom: 94px;
  border-top: 1px solid #ececec;
}

.page-filters {
  display: flex;
  justify-content: center;

  margin-top: 94px;
  margin-bottom: 50px;
}

.page-filters a {
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  width: 128px;
  height: 38px;

  background: #f5f4fa;
  border-radius: 4px;
  color: #212121;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-filter-items + .page-filter-items {
  margin-left: 8px;
}

.page-filters a:hover,
.page-filters a:focus {
  width: 128px;
  height: 38px;
  background: #2196f3;
  color: #ffffff;
}

/* Портфолио > проэкты */

.projects-container {
  display: flex;
  flex-wrap: wrap;

  width: 1200px;
  margin: 0 auto;
}

.projects {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;

  color: #757575;
}

.projects-item {
  position: relative;
  overflow: hidden;

  width: 371px;
  margin-right: 30px;
  margin-bottom: 30px;

  border: 1px solid #eeeeee;
  box-sizing: border-box;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-item:nth-child(3n) {
  margin-right: 0;
}

.projects-item:hover,
.projects-item:focus {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
}

.projects-container h3 {
  margin-top: 30px;
  margin-bottom: 4px;
  margin-left: 24px;
  text-transform: none;
}

.projects-container p {
  margin-bottom: 20px;
  margin-left: 24px;
}

.projects-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-align: left;
}

.projects-text p {
  margin-top: 63px;
  margin-right: 24px;
  margin-left: 24px;
}

.projects-text {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 73%;
  background-color: rgba(33, 150, 243, 0.9);

  opacity: 0;
  transform: translateY(100%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-item:hover .projects-text,
.projects-text:focus {
  transform: translateY(-37%);
  opacity: 1;
}

/* 

Подвал сайта

*/

footer {
  background: #2f303a;
}

.contacts-mailing {
  display: flex;
  flex-direction: row;
  align-items: baseline;

  padding-top: 57px;
  padding-bottom: 40px;
}

.contacts-mailing-container {
  margin-left: 215px;
}

.logo-bottom {
  margin-top: 45px;

  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.logo-bottom span {
  color: #ffffff;
}

.adress {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;

  color: #ffffff;
}

.contact-info {
  margin-top: 20px;
}

.contact-info a:not(.adress) {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.social-networks {
  margin-left: 69px;
}

.social-networks li + li {
  margin-left: 10px;
}

.social-networks-list {
  display: flex;
  justify-content: space-between;

  padding-top: 20px;
}

.social-networks-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  fill: #fff;
}

.social-networks-item {
  border-radius: 50%;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-networks-item:hover,
.social-networks-item:focus {
  background-color: #2196f3;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  cursor: pointer;
}

.social-networks-icon {
  width: 20px;
  height: 20px;
}

.mailing {
  margin-left: 94px;
}

.mailing-button {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  width: 200px;
  height: 50px;
  margin-left: 12px;

  color: #FFFFFF;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

.mailing-form {
  display: flex;
  margin-top: 20px;
}

.mailing-input {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;

  padding-left: 16px;

  width: 358px;
  height: 50px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: inherit;
  color: #fff;
}

.mailing-button {
  justify-content: center;
}

.mailing-button-icon {
  fill: #fff;
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

/* Модальное окно */

.form {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  
  color: #757575;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  background: #fff;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;

  width: 528px;
  height: 581px;

  margin: auto;
  z-index: 1;
}

.form-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;

  margin-top: 40px;
}

.form-field {
  position: relative;

  display: flex;
  flex-direction: column;
  
  width: 448px;
  height: 40px;
  margin-top: 28px;
  margin-right: 40px;
  margin-left: 40px;
}

.form-input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;

  padding-left: 42px;
  width: 100%;
  height: 100%;
}

.form-field:focus-within,
.form-field:hover {
  fill: #2196F3;
  color: #2196F3;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  border: 1px solid #2196f3;
  border-radius: 4px;
  outline: none;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:not(:placeholder-shown) ~ label,
.form-input:focus ~ label,
.form-input:hover ~ label {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #2196F3;
  letter-spacing: 0.01em;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  transform: translate(-25px, -25px)
}

.form-textarea:not(:placeholder-shown) ~ label,
.form-textarea:focus ~ label,
.form-textarea:hover ~ label {
  transform: translateY(-30px);
}

.form-input:hover {
  border: 1px solid #2196f3;
  cursor: pointer;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-label {
  position: absolute;

  left: 42px;
  top: 8px;
}

.form-icon {
  position: absolute;
  left: 19px;
  top: 14px;

  overflow: hidden;
}

.form-field-textarea{
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 448px;
  height: 120px;
}

.form-label-textarea {
  position: absolute;
  left: 16px;
  top: 12px;
}

.form-textarea {
  resize: none;
}

.checkbox {
  margin-top: 20px;
}

.checkbox-field {
  display: inline-flex;
  align-items: center;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;

  color: #757575;
}

.checkbox-label {
  display: inline-flex;
  align-items: center;
}

.form-input-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.checkbox-label::before {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  border: 2px solid #000000;
  border-radius: 3px;

  margin-right: 8px;
}

.form-input-checkbox:checked ~ .checkbox-label::before {
  background-color: #2196F3;
  border-color: transparent;
  background-image: url(../images/check.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  fill: #fff;
}

.form-link {
  color: #2196F3;
  border-bottom: 1px solid #2196F3;
}

.form-button {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  color: #FFFFFF;

  width: 200px;
  height: 50px;
  margin-top: 30px;
  margin-bottom: 40px;

  background: #188CE8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

.is-hidden {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
}

.overflow {
  overflow: hidden;
  position: relative;
}

.overflow:after {
  content: '';
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  background: rgba(0, 0, 0, 0.2);
}

.close-button {
  position: absolute;
  right: -15px;
  top: -15px;
  height: 30px;
  width: 30px;
}

.close-button .icon {
  fill: #000;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-color: #fff;

  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  padding: 5px
}

.close-button:hover .icon {
  fill: #2196F3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}